heat/simulations/
advection_diffusion/simulations/
wave_diffusion/simulations/

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

.venv/
venv/
env/

*.pth
*.ckpt

.ipynb_checkpoints/
.vscode/
